@page "/"
@inherits E1BaseComponent
@inject JsService Js

<div class="navbar navbar-light">
    <form @onsubmit="@OnSubmit" class="col">
        <div class="input-group">
            <div class="input-group-prepend">
                <button type="submit" class="btn btn-outline-primary">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <input type="search" class="form-control bg-light" placeholder="Name Search..." @bind="@NameSearch" />
        </div>
    </form>
</div>
<div class="main-list container">
    @if (State.ErrorMsg != string.Empty)
    {
        <div class="row">
            <label class="col text-danger">@State.ErrorMsg</label>
        </div>
    }
    <div class="card">
        <div class="card-body h-300px">
            <svelte-editor></svelte-editor>
        </div>
    </div>
</div>

@code
{
    protected string NameSearch { get; set; }
    protected string Command { get; set; } = "f0101";
    protected async Task OnSubmit()
    {
        NameSearch = await Js.GetEditorTextAsync();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Js.InitEditor("svelte-editor");
        }
    }
}