@page "/"
@inherits E1BaseComponent
@inject JsService Js

<div class="row">
    @foreach (var qr in VisibleQueryRequests)
    {
        <DataBrowser.Pages.CqlEditor QueryRequest="@qr" />
    }
</div>

@code
{
    IEnumerable<QueryRequest> VisibleQueryRequests => State.QueryRequests.Where(qr => qr.Visible);
}