@page "/"
@inherits E1BaseComponent
@inject JsService Js

<div class="container">
    @foreach (var qr in QueryRequests)
    {
        <CqlEditor QueryRequest="@qr"></CqlEditor>
    }
</div>

@code
{
    IEnumerable<QueryRequest> QueryRequests => State.QueryRequests.Where(qr => qr.Visible);
}