@page "/"
@inherits E1BaseComponent
@inject JsService Js

<div class="container">
    @if (State.ErrorMsg != string.Empty)
    {
        <div class="row">
            <label class="col text-danger">@State.ErrorMsg</label>
        </div>
    }
    <div class="card">
        <div class="card-body">
            <CqlEditor Id="editor"></CqlEditor>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <JsonViewer Id="JsonViewer"></JsonViewer>
        </div>
    </div>
</div>

@code
{
}