@page "/"
@inherits E1BaseComponent
@inject JsService Js

<div class="container">
    @if (State.ErrorMsg != string.Empty)
    {
        <div class="row">
            <label class="col text-danger">@State.ErrorMsg</label>
        </div>
    }
    <CqlEditor TagId="cql"></CqlEditor>
</div>

@code
{
}